article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

:root {
  font-size: 62.5%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  height: 85vh;
}

.btn-primary {
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  text-transform: uppercase;
  border: 2px solid #272727;
  -webkit-transform: skew(10deg);
          transform: skew(10deg);
  padding: 14px 32px;
  margin-left: 6px;
  color: #272727;
  margin-top: 32px;
  border-radius: 2px;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.btn-primary::after {
  content: '';
  position: absolute;
  display: block;
  height: 48px;
  width: 139px;
  background: #671114;
  top: -1px;
  right: -2px;
  border-radius: 2px;
  z-index: -1;
  opacity: 0;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.btn-primary:hover {
  border: 2px solid #555555;
  color: #fff;
}

.btn-primary:hover::after {
  opacity: 1;
  -webkit-animation: anim .5s ease forwards;
          animation: anim .5s ease forwards;
}

@-webkit-keyframes anim {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 139px;
  }
}

@keyframes anim {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 139px;
  }
}

.btn-secondary {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  border: 2px solid #272727;
  -webkit-transform: skew(10deg);
          transform: skew(10deg);
  padding: 14px 32px;
  margin-left: 16px;
  color: #fff;
  background: #272727;
  border-radius: 2px;
  margin-top: 32px;
  position: relative;
  z-index: 1;
  -webkit-transition: .7s ease;
  transition: .7s ease;
  border-radius: 2px;
}

.btn-secondary::after {
  content: '';
  position: absolute;
  display: block;
  width: 30%;
  height: 100%;
  border-right: 5px solid #671114;
  border-top: 5px solid #671114;
  top: -15%;
  right: -4%;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.btn-secondary:hover::after {
  opacity: 1;
  -webkit-animation: anim .5s ease forwards;
          animation: anim .5s ease forwards;
}

.bg-loader {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #E8D102;
  overflow: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  max-width: 1140px;
  margin: 0 auto;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-menu li {
  padding: 16px 20px;
}

.nav-menu a {
  text-decoration: none;
  color: #272727;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
  position: relative;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.nav-menu a:hover::after {
  color: #671114;
  content: "";
  width: 35px;
  height: 2px;
  display: block;
  top: -10px;
  left: 0;
  position: absolute;
  border-top: 3px solid #671114;
  -webkit-transition: .7s ease;
  transition: .7s ease;
  -webkit-animation: anim-link .5s ease forwards;
          animation: anim-link .5s ease forwards;
}

.nav-menu a:hover::before {
  color: #671114;
  content: "";
  width: 35px;
  height: 2px;
  display: block;
  bottom: -10px;
  right: 0;
  position: absolute;
  border-top: 3px solid #671114;
  -webkit-transition: .7s ease;
  transition: .7s ease;
  -webkit-animation: anim-link .5s ease forwards;
          animation: anim-link .5s ease forwards;
}

@-webkit-keyframes anim-link {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 35px;
  }
}

@keyframes anim-link {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 35px;
  }
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title h1 {
  font-size: 10rem;
  letter-spacing: 0.3rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.title p {
  max-width: 600px;
  font-size: 1.8rem;
  color: #272727;
  margin-bottom: 16px;
  line-height: 1.5;
}

.title span {
  color: #671114;
  display: inline-block;
}

.subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subtitle h1 {
  font-size: 10rem;
  letter-spacing: 0.3rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.subtitle p {
  max-width: 600px;
  font-size: 1.8rem;
  color: #272727;
  margin-bottom: 16px;
  line-height: 1.5;
}

.subtitle span {
  color: #671114;
  display: inline-block;
}

.dc-logo {
  margin-top: 64px;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo-batman {
  fill: transparent;
  -webkit-animation: logo-batman 12s ease infinite alternate;
          animation: logo-batman 12s ease infinite alternate;
}

@-webkit-keyframes logo-batman {
  0% {
    stroke-width: 0;
    stroke-dasharray: 1 100;
    fill: transparent;
  }
  25% {
    stroke-width: 1;
    fill: transparent;
    stroke-dasharray: 100 0;
  }
  60%, 100% {
    stroke-width: 0.3;
    fill: #000000;
  }
}

@keyframes logo-batman {
  0% {
    stroke-width: 0;
    stroke-dasharray: 1 100;
    fill: transparent;
  }
  25% {
    stroke-width: 1;
    fill: transparent;
    stroke-dasharray: 100 0;
  }
  60%, 100% {
    stroke-width: 0.3;
    fill: #000000;
  }
}
